<%- include('partials/header'); -%>
  <link rel="stylesheet" href="signup.css">
  <div class="join-div">
      <h1>login</h1>
<form  class="join-form">
<label for="username" >User Name</label>
<input type="text" name="username" placeholder=" User Name" required>
<label for="password" >Password</label>
<input type="password" name="password" placeholder=" Password" required>
<button class="join-but">
    login
</button>
</form>
<p class="signup" >or if don't have an account <br> <a href="/signup">create account</a> </p>
  </div>
  <script src="js/login.js"></script>
<%- include('partials/footer'); -%>