<%- include('partials/header'); -%>
<link rel="stylesheet" href="signup.css">
<div class="join-div">
  <form  class="join-form">
    <h1>Create Account</h1>
    <label for="username" >User Name</label>
    <input type="text" name="username" placeholder=" User Name" required>
    <label for="email">Email</label>
    <input type="email" name="email" placeholder=" Email" required>
    <label for="password" >Password</label>
    <input type="password" name="password" placeholder=" Password" required>
  <button class="join-but create-but">
      create account
  </button>
  </form>
  </div>
 <script src="js/signin.js"></script>
<%- include('partials/footer'); -%>